@use './partials/variables' as *;
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body{
  min-height: 100vh;
  background: rgb(70,70,70);
  background: linear-gradient(0deg, rgba(70,70,70,0.8239496482186625) 0%, rgba(95, 95, 95, 0.521) 50%, rgba(70,70,70,0) 100%); 
}